/** Общее **/
body {
    font-weight: 400;
    display: flex; //for IE10-11 fix footer
    font-display: swap;
}

html,
body,
#app {
    overflow-x: hidden;
}

#app {
    display: flex;
    flex: 1 1 auto; //for IE10-11 fix footer
    flex-flow: column nowrap;
    min-height: 100vh;
}
