$font-stack: -apple-system, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$primary: #007bff;
$primary-color: #007bff;
$primary-color-light: #00aeff;
$primary-color-dark: #0066d3;
$secondary-color: #007bff;